img {
  width: 20px;
  height: 20px;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.history-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.domainUrl {
  margin-left: 10px;
  color: #475569;
}
.domain-logo {
  height: 40px;
  width: 30px;
  margin-right: 10px;
}
.button {
  background-color: none;
  border: none;
  margin-bottom: 7px;
}
